html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: FjallaOne;
    margin: 0;
}

@font-face {
    font-family: FjallaOne;
    src: url('src/fonts/FjallaOne-Regular.ttf');
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.25s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.links {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-align: left;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.menuInteract {
    font-size: 50px;
    cursor: pointer;
    margin: 0 0 0 1vh;
    position: fixed;
    transition: transform 0.5s;
    z-index: 1;
}

.menuInteract:hover {
    transform: scale(1.5);
}

#headerText {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.homeContainer,
.projectsContainer,
.footer {
    width: 100vw;
    height: 100vh;
    color: #fff;
}

.downArrow img {
    transition: transform .5s;
}

a:hover img  {
    transform: scale(2);
}


#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* scales the video to fit the size of the element while preserving its aspect ratio */
    z-index: -1;
    /* positions the video behind other elements */
}


.aboutContainer,
.contactContainer {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #000;
    position: relative;
}

#aboutImage img {
    max-width: 50%;
    max-height: 50%;
    display: block;

}

#aboutText {
    font-size: 20px;
    padding: 0 10vw 0 10vw;
}

#contactArrow,
#projectsArrow{
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.5s;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    text-align: center;
    position: absolute;
}

.projectsContainer h1,
.contactContainer h1,
.aboutContainer h1  {
    font-size: 50px;
    text-align: center;
    padding-top: 10vh;
    margin: 0;
}

.projectsContainer {
    background-color: #000;
    position: relative;
}

.contactContainer p{
    /* Move the text to the right */
    margin-left: 1vw;
}

#contactForm{
    background-color: #fff;
    /* Center the form in the middle of the div*/
    margin: 0 auto;
    /* Set the width of the form */
    width: 50%;
    /* Add some padding around the form */
    padding: 1em;
    border-radius: 10px;
    padding: 10px;
}


#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm div,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}


#fs-frm label,
#fs-frm legend,
#fs-frm div,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: inline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#contactFormSubmit:hover{
    background-color: #000;
    color: #fff;
    transition: background-color 1s;
    cursor: pointer;
}


#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
#footer a {
    color: white;
    text-decoration: none;
    position: inline;
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
}

#socials img{
    width: 48px;
    height: 48px;
    margin: 0 0 0 1vh;
    transform: scale(1);
}

#linkedinGif:hover {
    content:url(src/images/icons8LinkedIn.gif);
    width: 48px;
    height: 48px;
    margin: 0 0 0 1vh;
}